# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
supabase.exe
supabase/.temp/

/generated/prisma

SITREP.md
paginabron fainl1.txt
SECURITY.md
public/googlefae8d728070fbb27.html
public/referral_buildv2_prompt_to add_or_enhance.txt
public/ads.txt
README.md

.vercel
